@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format(woff2);
  font-display: swap;
}

html {
  height: 100%;
}

body {
  height: 100%;
  min-width: 1280px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  color: #333333;
  background-color: #f2f2f2;
}


.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;;
}

/* Header */

.page-header {
  width: 1200px;
  margin: 0 auto;
}

.nav {
  display: flex;
  min-height: 64px;
  padding: 0 70px;
  position: relative;
}

.logo {
  display: block;
}

.nav-logo {
  margin-right: 28px;
  position: absolute;
}


.nav-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 440px;
  padding: 0;
  margin: 0;
  padding-left: 168px;
  list-style: none;
}

.nav-user {
  padding-left: 0;
  max-width: 300px;
  margin-left: auto;
}

.nav-link {
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-transform: capitalize;
  text-decoration: none;
}

.nav-link-btn,
.search-btn {
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
}

.nav-link-btn {
  display: inline-block;
  padding: 8px 20px;
  width: 160px;
  min-height: 36px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  box-sizing: border-box;
  text-align: center;
  text-transform: uppercase;
}


/* Main */

.main-container {
  flex-grow: 1;
  width: 1200px;
  margin: 0 auto;
}

.hero {
  color: #ffffff;
  background-color: #000000;
  background-image: url(../images/index-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.hero-img {
  padding-top: 51px;
  margin-bottom: 25px;
}

.hero::after {
  display: block;
  content: url(../images/hero-vector-img.svg);
  width: 1200px;
  height: 57px;
}

.advantages {
  padding-top: 69px;
  text-align: center;
}

.advantages-title {
  margin: 0;
  margin-bottom: 25px;
  padding: 0 290px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-desc,
.services-desc,
.search-desc,
.subscription-desc {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.advantages-desc {
  padding: 0 274px;
  margin-bottom: 69px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;

}

.advantages-item {
  width: 400px;
  padding: 113px 85px;
  box-sizing: border-box;
}

.advantages-item-row,
.advantages-item-row-reverse {
  width: 1200px;
  display: flex;
  padding: 0;
}

.advantages-item:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(2n+1) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-title,
.services-item-title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-item-title {
  margin-bottom: 62px;
}

.advantages-item-desc,
.services-item-desc {
  margin: 0;
  color: #333333;
}

.advantages-item-wrapper {
  padding: 102px 85px;
  color: #ffffff;
  background-color: #82b3d3;
}

.advantages-item-wrapper .advantages-item-desc {
  color: #ffffff;
}

.advantages-item-img {
  width: 800px;
  height: 100%;
  object-fit: cover;
}



/* Services*/

.services {
  padding-top: 64px;
  text-align: center;
}

.services-title,
.search-title,
.subscription-title {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.services-title {
  width: 505px;
  padding: 0 348px;
  margin-bottom: 20px;
}

.services-desc {
  padding: 0 355px;
  margin-bottom: 64px;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.services-item {
  width: 400px;
  padding: 81px 85px;
  box-sizing: border-box;
}

.services-item-img {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}
/* По макету отступ снизу у всех изображений разный, также высота services-item у меня 387px, а в макете 385px, почему так?*/
.services-item:last-child .services-item-img {
  margin-bottom: 28px;
}

.services-item-title {
  margin-bottom: 30px;
}


.services-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

/*Search*/

.search {
  padding: 96px 304px;
  text-align: center;
}

.search-title,
.subscription-title {
  margin-bottom: 20px;
}

.search-desc {
  margin-bottom: 54px;
}

.search-btn,
.subscription-btn {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.search-btn {
  padding: 8px 20px;
  width: 376px;
  min-height: 52px;
  font-family: "PT Sans", sans-serif;
  border: none;
}


/* Subscription */

.subscription {
  padding: 96px 258px 104px;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  background-image: url(../images/subscribe.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.subscription-title {
  color: #ffffff;
}

.subscription-desc {
  margin-bottom: 54px;
  color: #ffffff;
}

.subscription-form {
  display: flex;
}

.form-input {
  width: 452px;
  padding: 14px 20px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  background-color: #f2f2f2;
  border-radius: 4px 0 0 4px;
  border: none;
  box-sizing: border-box;
}

/* Не уверен в правильности стилизования placeholder внутри form-input*/
::placeholder {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  opacity: 0.6;
}

.subscription-btn {
  padding: 8px 20px;
  width: 232px;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82b3d3;
  border-radius: 0 4px 4px 0;
  border: none;

}


/* Footer */

.page-footer {

  padding: 40px 70px 30px;
}

.page-footer-inner {
  width: 1060px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-list {
  max-width: 142px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.social-item {
  width: 47px;
  height: 40px;
}

.social-item a {
  display: block;
  padding: 11px;
}

.social-item-img {
  display: block;
}

.page-footer address {
  font-style: normal;
}

.phone {
  display: block;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
  text-align: center;
}

.contacts-img {
  display: block;
}


/* Catalog */

.main-inner {
  flex-grow: 1;
  width: 1200px;
  margin: 0 auto;
}

.inner-header {
  padding: 35px 70px 70px;
  color: #ffffff;
  background-color: #000000;
  background-image: url(../images/filter-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.inner-header-title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 40px;
}

.breadcrumbs-item + .breadcrumbs-item {
  margin-left: 29px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-title {
  margin-bottom: 32px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-transform: capitalize;
}

.catalog-filter-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.catalog-filter-item + .catalog-filter-item {
  margin-top: 16px;
}

.catalog-filter-item label {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.catalog-filter-group {
  padding: 0;
  margin: 0;
  border: none;
}

.catalog-filter-group-infra {
  min-width: 151px;
}

.catalog-filter-group-infra + .catalog-filter-group-infra {
  margin-left: 70px;
}

.catalog-filter-group-price {
  width: 288px;
  margin-left: 140px;
  margin-right: 70px;
}

.button-submit,
.button-reset {
  width: 191px;

}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.button-submit,
.button-favourites {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82b3d3;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
}

.button-submit {
  margin-bottom: 32px;
  padding: 8px 50px;
  font-family: "PT Sans", sans-serif;
  border: none;
}

.favourites {
  background-color: #7db54f;
}

.button-reset {
  padding: 8px 50px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: transparent;
  border-radius: 4px;
  border: none;
  text-align: center;
  text-transform: uppercase;
}

.hotel-cards {
  display: flex;
  flex-direction: column;
  padding: 50px 70px 60px;
}

.sorting {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}

.select-control {
  padding: 14px 20px;
  width: 292px;
  font-family: "PT Sans", sans-serif;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  box-sizing: border-box;
}

.select-control option {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
}

.hotel-cards-text {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin: 0;
  margin-right: 200px;
  color: #000000;
  text-transform: uppercase;
}

.select-control,
.hotel-type,
.hotel-price {
  color: #333333;
}

.type-cards {
  display: flex;
  padding: 0;
  margin: 0;
  margin-left: auto;
  list-style: none;
}

.hotels-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  padding: 0;
  margin: 0;
  margin-bottom: 80px;
  list-style: none;
}

.hotels-item {
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: 1fr auto;
  gap: 16px 20px;
  width: 340px;
  padding: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  box-sizing: border-box;
}

.hotels-item-link,
.hotels-item-img {
  display: block;
}

.hotels-item-link {
  text-decoration: none;
  grid-column: 1/-1;
}

.hotels-item-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
}

.hotels-item-title,
.hotels-item p {
  margin: 0;
}

.button-more {
  padding: 8px 20px;
  width: 140px;
  min-height: 36px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  box-sizing: border-box;
}

.button-favourites {
  padding: 8px 10px;
  width: 140px;
  min-height: 36px;
  font-family: "PT Sans", sans-serif;
  border: none;
}

.hotel-price {
  width: 140px;
  text-align: right;
}

.rating {
  padding: 8px 20px;
  font-size: 16px;
  line-height: 20px;
  min-width: 140px;
  text-align: center;
  color: #333333;
  background-color: #f2f2f2;
  text-transform: uppercase;
  border-radius: 4px;
  box-sizing: border-box;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.pagination-item + .pagination-item {
  margin-left: 8px;
}

.pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  min-height: 60px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82b3d3;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}

.pagination-link-first {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-link-ellipsis {
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
  text-transform: none;
}

.subscription-catalog {
  color: #000000;
  background-color: #ffffff;
  background-image: none;
}

.subscription-catalog-title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.subscription-catalog-desc {
  margin: 0;
  margin-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}
