@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format(woff2);
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  color: #000000;
  background-color: #ffffff;
}

.visually-hidden {
  display: none;
}


/* Header */

.page-header {
  width: 1200px;
  margin: 0 auto;
}

.nav {
  display: flex;
  margin: 0 70px;
}

.logo {
  margin-right: 40px;
}

/*Сделал в nav-list и nav-user ширину больше чем в макете, на случай если добавятся ещё пункты меню*/
.nav-list {
  width: 440px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav-user {
  max-width: 300px;
  margin-left: auto;
}

.nav-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-transform: capitalize;
  text-decoration: none;
}

.nav-link-btn,
.search-btn {
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
}


/* Main */

.main-container {
  flex-grow: 1;
  width: 1200px;
  margin: 0 auto;
}

.hero {
  color: #ffffff;
  background-color: #000000;
  background-image: url(../images/index-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

/* Добавил векторное изображение в секции hero, но есть один нюанс при изменении масштаба слева и справа иногда  видно фоновое изображение немного, это браузер так отображает или я сделал не правильно?*/
.hero::after {
  display: block;
  content: url(../images/hero-vector-img.svg);
  width: 1200px;
  height: 57px;
}

.advantages {
  text-align: center;
}

.advantages-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}


/*Сдесь я обЪеденил классы из разных секций, чтобы было меньше кода.*/
.advantages-desc,
.services-desc,
.search-desc,
.subscription-desc {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;

}

.advantages-item {
  width: 400px;
}

.advantages-item-row,
.advantages-item-row-reverse {
  width: 1200px;
  display: flex;
}

.advantages-item:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.12);
}

/* В этой лишке наверное нужно сделать через класс? т.к. при добавлении ещё лишек цвет фона становится белым */
.advantages-item:nth-child(2n+1) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-title,
.services-item-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-item-desc,
.services-item-desc {
  color: #333333;
}

.advantages-item-wrapper {
  color: #ffffff;
  background-color: #82b3d3;
}

.advantages-item-wrapper .advantages-item-desc {
  color: #ffffff;
}


/* Services*/

.services {
  text-align: center;
}

.services-title,
.search-title,
.subscription-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.services-item {
  width: 400px;
}

.services-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

/*Search*/

.search {
  text-align: center;
}

.search-btn,
.subscription-btn {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}


/* Subscription */

.subscription {
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  background-image: url(../images/subscribe.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.subscription-title {
  color: #ffffff;
}

.subscription-desc {
  color: #ffffff;
}

.form-input {
  background-color: #f2f2f2;
  border-radius: 4px 0 0 4px;
}

/* Не уверен в правильности стилизования placeholder внутри form-input*/
::placeholder {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  opacity: 0.6;
}

.subscription-btn {
  color: #ffffff;
  background-color: #82b3d3;
  border-radius: 0 4px 4px 0;
}


/* Footer */

.page-footer {
  width: 1200px;
  margin: 0 auto;
}

/*Задал для page-footer-inner justify-content: space-betwee незнаю правильно ли, или стоит задать размеры как в макете?*/
.page-footer-inner {
  width: 1060px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.social-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.social-item + .social-item {
  margin-left: 27px;

}

.page-footer address {
  font-style: normal;
}

.phone {
  display: block;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
  text-align: center;
}


/* Catalog */

.main-inner {
  flex-grow: 1;
  width: 1200px;
  margin: 0 auto;
}

.inner-header {
  padding: 35px 70px 70px;
  color: #ffffff;
  background-color: #000000;
  background-image: url(../images/filter-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.breadcrumbs-item {
  margin-right: 10px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-transform: capitalize;
}

.catalog-filter-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.catalog-filter-item label {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.catalog-filter-group {
  padding: 0;
  margin: 0;
}

.catalog-filter-group-infra {
  min-width: 151px;
}

.catalog-filter-group-infra + .catalog-filter-group-infra {
  margin-left: 70px;
}

.catalog-filter-group-price {
  width: 288px;
  margin-left: 140px;
  margin-right: 70px;
}

.button-submit,
.button-reset {
  width: 191px;
  height: 36px;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button-submit,
.button-favourites {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82b3d3;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
}

.favourites {
  background-color: #7db54f;
}

.button-reset {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: transparent;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
}

.hotel-cards {
  display: flex;
  flex-direction: column;
  padding: 50px 70px 60px;
}

.sorting {
  display: flex;
}

.select-control {
  width: 292px;
  height: 49px;
}

.hotel-cards-text {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin: 0;
  margin-right: 200px;
  color: #000000;
  text-transform: uppercase;
}

.select-control,
.hotel-type,
.hotel-price {
  color: #333333;
}

.type-cards {
  display: flex;
  padding: 0;
  margin: 0;
  margin-left: auto;
  list-style: none;
}

/* Сдесь добавил gap, или стоит лучше сделать через margin?*/
.hotels-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.hotels-item {
  display: flex;
  flex-direction: column;
  width: 298px;
  padding: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.hotels-item p {
  display: flex;
  justify-content: space-between;
}

.hotels-item-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
}

.button-more {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.rating {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #333333;
  background-color: #f2f2f2;
  text-transform: uppercase;
  border-radius: 4px;
}

.pagination {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.pagination-item + .pagination-item {
  margin-left: 8px;
}

.pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82b3d3;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}

.pagination-link-first {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-link-ellipsis {
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
  text-transform: none;
}

.subscription-catalog {
  color: #000000;
  background-color: #ffffff;
  background-image: none;
}

.subscription-catalog-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.subscription-catalog-desc {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}
